<div class="footer list-inline">
  <ul>
    <a href="#"><i class="fa fa-youtube"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
  </ul>
  <p>This is a Airbnb Home challenge @ LeWagon</p>
</div>
